@media (min-width: 768px) {
    .nav {

        &_hamburger_menu {
            display: none;
        }

        &_menu {
            position: static !important;
            width: auto !important;
            height: auto !important;
            flex-direction: row !important;
            gap: 1rem !important;

            &_links{
                
                
                .link{
                    font-size: 1.5em !important;
                }
            }
        }
    }

    .container {
        
        .banner {
            display: flex;
            justify-content: center;
            height: 90vh !important;
            
            .title {
                h1,h2 {
                    font-size: 4em;
                    &::before {
                        filter: drop-shadow(0 0 20px #0000006f) drop-shadow(0 0 50px #000) !important;
                    }
                }
            }
        }

        .aboutMe {
            &_information {
                flex-direction: row !important;
                padding: 2% !important;
                
                img {
                    width: 35% !important;
                }

                p {
                    font-size: 1em !important;
                }
            }
        }

        .projects {
            &_container {
                flex-direction: row !important;
                flex-wrap: wrap !important;

                .project_card {
                    margin-left: 2%;
                    width: 30% !important;
                }
            }
        }
    }
}