@use 'mediaquery';

$primary_bg: #d2b6e9;
$secundary_bg: #efe6fe; 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $secundary_bg;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    height: 80px;
    background-color: $primary_bg;
    position: sticky;
    top: 0;
    // width: 100%;
    // top: 0;
    // left: 0;

    .nav {
        height: 100%;
        display: flex;
        width: min(1200px, 100%);
        margin: auto;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        padding: 0 2rem;

        .logo {
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 1.5em;
            width: 20%;
        
            img{
                height: 3em;
                margin-right: 10px;
            }

            .link_logo {
                text-decoration: none;
                color: black;
            }
        }

        &_hamburger_menu {
            cursor: pointer;
        }

        .hamburger_input{
            display: none;

            &:checked + .nav_menu {
                height: calc(100vh - 80px);
            }
        }

        &_menu {
            background-color: $primary_bg;
            width: 100%;
            position: absolute;
            top: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            left: 0;
            height: 0;
            overflow: hidden;
            transition: all .3s;

            &_links{
                list-style: none;
                
                .link{
                    text-decoration: none;
                    font-size: 3em;
                    color: black;
                    font-weight: bold;

                    &:hover{
                        text-shadow: 2px 2px 2px #aaa;
                        text-decoration-line: underline;
                    }
                }
            }
        }
    }
}

.footer {
    background-color: #d2b6e9;
    text-align: center;
    padding: 20px;

    &_copyright {
        font-weight: bold;
        font-size: 1.3em;
    }
}

.container {
    .banner {
        /*height: 35vh;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/programming-banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        .title {
            text-align: center;
            padding: 20%;
        }*/
        height: 35vh;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/programming-banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        .title {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            min-height: 33vh;

            h1,h2 {
                position: relative;
                color: #e179cb;
                overflow: hidden;

                // &::before {
                //     content: attr(data-text);
                //     position: absolute;
                //     color: #000;
                //     overflow: hidden;
                //     width: 150px;
                //     white-space: nowrap;
                //     border-right: 4px solid #000;
                //     animation: welcome 8s linear infinite;
                //     filter: drop-shadow(0 0 20px #000) drop-shadow(0 0 50px #000);
                // }

                &::before {
                    content: attr(data-text);
                    position: absolute;
                    color: #000;
                    overflow: hidden;
                    white-space: nowrap;
                    border-right: 4px solid #000;
                    animation: typing 10s steps(40) infinite;
                    filter: drop-shadow(0 0 20px #000) drop-shadow(0 0 50px #000);
                }
            }
        }
    }

    .aboutMe {
        padding-top: 2%;
        text-align: center;
        font-size: 1.5em;       
        
        &_information {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 60%;
                height: auto;
                padding-top: 2%;
            }

            p {
                font-size: 0.8em;
                padding: 2%;
            }
        }
    }

    .projects {
        text-align: center;
        font-size: 1.5em;

        &_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 3%;
            width: 80%;
            margin: auto;

            .project_card {
                display: flex;
                flex-direction: column;
                background-color: whitesmoke;
                padding: 3%;
                border-radius: 4%;
                box-shadow: 8px -5px 7px 0px rgba(0,0,0,0.18);
                -webkit-box-shadow: 8px -5px 7px 0px rgba(0,0,0,0.18);
                -moz-box-shadow: 8px -5px 7px 0px rgba(0,0,0,0.18);
                margin-bottom: 5%;

                .project_title {
                    font-size: 1em;
                    padding-bottom: 4%;
                }

                .project_image {
                    img {
                        width: 90%;
                        height: auto;
                    }
                    padding-bottom: 2%;
                }

                .project_description {
                    font-size: 0.7em;
                    text-wrap: balance;
                    padding: 2% 0 4% 0;
                }

                .project_technologies {
                    font-size: 0.9em;
                    display: flex;
                    flex-direction: column;
                    
                    p {
                        padding-bottom: 3%;
                        font-weight: bold;
                    }

                    .img_technology {
                        width: 35px;

                        &:hover {
                            box-shadow: 4px -3px 5px 1px rgba(0,0,0,0.14);
                            -webkit-box-shadow: 4px -3px 5px 1px rgba(0,0,0,0.14);
                            -moz-box-shadow: 4px -3px 5px 1px rgba(0,0,0,0.14);
                        }
                    }
                    
                }

                .project_link {
                    
                    .btn_link {
                        text-decoration: none;
                        color: black;
                        width: fit-content;
                        background-color: $secundary_bg;
                        border-radius: 28px;
                        border: 1px solid #ca2fcad6;
                        display:inline-block;
                        cursor:pointer;
                        font-size:17px;
                        padding:16px 31px;
                        text-decoration:none;
                        text-shadow:0px 1px 0px #2f6627;
                        transition: all 0.3s;
                        margin-top: 5%;

                        &:hover {
                            background-color:$primary_bg;
                        }
                    }
                }
            }
        }
    }

    .contact {
        font-size: 1.5em;
        margin-bottom: 3%;

        h2 {
            text-align: center;
            margin-bottom: 5%;
        }

        &_container {
            display: flex;
            flex-direction: column-reverse;
            width: 80%;
            margin: auto;

            .contact_form {
                padding: 5%;
                width: 100%;
                font-size: 0.8em;
                background-color: whitesmoke;
                border: 1px solid #ccc;
                box-shadow: 3px -3px 5px 0px rgba(0,0,0,0.11);
                -webkit-box-shadow: 3px -3px 5px 0px rgba(0,0,0,0.11);
                -moz-box-shadow: 3px -3px 5px 0px rgba(0,0,0,0.11);
    
                form {
                    border-radius: 8px;
                    width: 100%;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    input, textarea {
                        background-color: $secundary_bg;
                        width: 100%;
                        padding: 3%;
                        border: 1px solid #ca2fcad6;
                        margin: 3% auto 3% auto;
                        font-size: 0.9em;
                        border-radius: 4px;
                        
    
                        &[name=mensaje] {
                            height: 7em;
                            font-family: Arial, Helvetica, sans-serif;
                            resize: none;
                        }
                        
                    }
    
                    button {
                        width: 40%;
                        height: 2em;
                        background-color: $secundary_bg;
                        border: 1px solid #ca2fcad6;
                        border-radius: 8px;
                        margin: 4% auto 0 auto;
                        font-size: 0.9em;
                        font-weight: 400;
                    
                        &:hover {
                            background-color:$primary_bg;
                            cursor: pointer;
                            transition: all 0.3s;
                        }
                    }
                }
            }

            img {
                width: 55%;
                margin: auto;
                padding-bottom: 2%;
            }
        }

    }
}

@keyframes typing {
    0%, 10%, 100% {
        width: 0;
    }
    70%, 90% {
        width: 100%;
    }
}

.error {
    color : rgb(227, 28, 28);
    font-size: 0.9em;
}

// @keyframes typing {
//     from {
//         width: 0;
//     }
//     to {
//         width: 100%;
//     }
// }
