@use 'mediaquery';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efe6fe;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    height: 80px;
    background-color: #d2b6e9;

    .nav {
        height: 100%;
        display: flex;
        width: min(1200px, 100%);
        margin: auto;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        padding: 0 2rem;

        .logo {
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 1.5em;
            width: 20%;
        
            img{
                height: 3em;
                margin-right: 10px;
            }
        }

        &_hamburger_menu {
            cursor: pointer;
        }

        .hamburger_input{
            display: none;

            &:checked + .nav_menu {
                height: calc(100vh - 80px);
            }
        }

        &_menu {
            background-color: #d2b6e9;
            width: 100%;
            position: absolute;
            top: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            left: 0;
            height: 0;
            overflow: hidden;
            transition: all .3s;

            &_links{
                list-style: none;
                
                .link{
                    text-decoration: none;
                    font-size: 3em;
                    color: black;
                    font-weight: bold;

                    &:hover{
                        text-shadow: 2px 2px 2px #aaa;
                        text-decoration-line: underline;
                    }
                }
            }
        }
    }
}

.footer {
    background-color: #d2b6e9;
    text-align: center;
    padding: 20px;

    &_copyright {
        font-weight: bold;
        font-size: 1.3em;
    }
}

.container {
    .banner {
        /*height: 35vh;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/programming-banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        .title {
            text-align: center;
            padding: 20%;
        }*/
        height: 35vh;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/programming-banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        .title {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            min-height: 33vh;

            h1,h2 {
                position: relative;
                color: #e179cb;
                overflow: hidden;

                // &::before {
                //     content: attr(data-text);
                //     position: absolute;
                //     color: #000;
                //     overflow: hidden;
                //     width: 150px;
                //     white-space: nowrap;
                //     border-right: 4px solid #000;
                //     animation: welcome 8s linear infinite;
                //     filter: drop-shadow(0 0 20px #000) drop-shadow(0 0 50px #000);
                // }

                &::before {
                    content: attr(data-text);
                    position: absolute;
                    color: #000;
                    overflow: hidden;
                    white-space: nowrap;
                    border-right: 4px solid #000;
                    animation: typing 10s steps(40) infinite;
                    filter: drop-shadow(0 0 20px #000) drop-shadow(0 0 50px #000);
                }
            }
        }
    }

    .aboutMe {

    }
}

@keyframes typing {
    0%, 10%, 100% {
        width: 0;
    }
    70%, 90% {
        width: 100%;
    }
}

// @keyframes typing {
//     from {
//         width: 0;
//     }
//     to {
//         width: 100%;
//     }
// }
